* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.canvas {
  background-color: hsl(190, 40%, 15%);
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  z-index: 5;
  color: white;
  text-align: center;
}
