.App {
  text-align: center;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  font-family: "righteous";
}

/* .light {
  background-color: var(--text-color-1);
}

.dark {
  background-color: var(--bg-color-1);
} */

.topBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;

  height: 45px;
  width: 45px;

  overflow: hidden;
}

.topBtn a {
  color: inherit;
}

.dark .topBtn {
  background-color: transparent;
  color: var(--dark-theme-highlight-2);
}

.light .topBtn {
  background-color: transparent;
  color: var(--dark-theme-main);
}

.topBtn:hover {
  cursor: pointer;
}

.dark .topBtn:hover {
  color: var(--dark-theme-main);
  background-color: var(--dark-theme-highlight-2);
}

.light .topBtn:hover {
  color: var(--dark-theme-highlight-2);
  background-color: var(--dark-theme-main);
}

.hidden {
  height: 0;
  transition: height 0.5s ease;
}

@keyframes topBtn {
  0% {
    transform: translateY(0%) translateX(-50%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%);
  }
}
